div#footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:8px;
}

.container {
  margin: 70px 5vw 0;
}

h1, h2, h4 {
	text-align: center;
}

.flex-center {
	display: flex;
  justify-content: center;
}

ul {
	margin: 0;
	padding: 0;
}

 li {
	text-align: center;
	list-style: none;
}

button, input[type="button"], input[type="submit"],
input[type="text"] {
	margin-right: 15px;
}
label {
	margin-right: 10px;
}

.add-engineer-list {
	width: 300px !important; /* important to override bootstrap style */
	margin-right: 20px;
}