@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Are you sure you want to remove this machine? </h2>

  @Html.DisplayFor(model => model.Name)?</h2>
  @using (Html.BeginForm())
{
  <input type="submit" value="Delete this machine" class="btn btn-outline-danger">
}
@Html.ActionLink("Back to List", "Index") 

