@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Are you sure you want to remove this engineer - @Html.DisplayFor(model => model.Name)?</h2>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-danger">
}
<input type="button" class="btn btn-primary" value="Back to details" onclick="location.href='@Url.Action("Details", new { id = Model.EngineerId })'">
