@{
  Layout = "_Layout";
}

@using Factory.Models
@model List<Factory.Models.Engineer>

<div class="home">
  <div class="controls flex-center">
    <input type="button" class="btn btn-info" value="All engineers" onclick="location.href='@Url.Action("Index", "Engineers")'" />
    <input type="button" class="btn btn-info" value="All machines" onclick="location.href='@Url.Action("Index", "Machines")'" />
  </div>
</div>
